@CHARSET "UTF-8";


h2 {
    font-weight: normal;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    font-size: 18px;
    cursor: pointer;
}


.qcm {
    width: 480px;
    margin: 0 auto;
    text-align: left;
}

#options {
    margin: 10px 0;
}

.next-question {
    margin-right: 10px;
}


body{
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;!important
font-weight: 400;
}


.bs-docs-header {
    box-sizing: border-box;
    color: rgb(129, 181, 221);
    height: 165px;
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    width: 1901px;
    perspective-origin: 950.5px 128px;
    transform-origin: 950.5px 128px;
    background-color: rgb(220,204,166);
    border: 0px none rgb(205, 191, 227);
    font: normal normal normal normal 24px/34.2857170104981px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(205, 191, 227) none 0px;
    padding: 0px 15px;
}
.bs-docs-header .header{
    background: url(../img/logo2.png) no-repeat left;
    width: 760px;
    box-sizing: border-box;
    margin: 0px 380px 0px 0px;
    height: 121px;
}
.bs-docs-header h1 {
    color: rgb(60,52,58);
    height: 45px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
    perspective-origin: 380px 30px;
    transform-origin: 380px 30px;
    border: 0px none rgb(255, 255, 255);
    font-size: normal normal 500 normal 60px/60px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-variant: small-caps;
    outline: rgb(255, 255, 255) none 0px;
    padding-left :140px;
    padding-top: 25px;
}

.bs-docs-header p{
    color: rgb(60,52,58);
    font-weight: 200;
    font-size: 18px;
    font-stretch: ultra-expanded;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.24);
    font-variant: small-caps;
    padding-left :140px;
}

tr.active{
    font-weight: bold;
    font-color: #AD914D;
}





/* TEST REST */





@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
}

body,input,select,textarea{
    font:15px/1.3 'Century gothic', sans-serif!important;
    color: #5e5b64;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside, nav{
    display: block;
}

/*-------------------------
	The order form
--------------------------*/

form{
    background-color: #61a1bc;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    padding: 35px 60px;
    margin: 50px auto;
}
#container{
    padding: 0px 10px 15px 30px;
}
form h1{
    color:#fff;
    font-size:30px;
    font-family:'Century gothic', cursive;
    font-weight: normal;
    line-height:1;
    text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

ul{
    list-style: none;
    width: 428px;
    margin: 0 auto;
    text-align: left;
}

ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}

ul li img{
    width:60px;
    height:60px;
    float:left;
    border:none;
}

ul li p{
    margin-left: 75px;
    font-weight: bold;
    padding-top: 12px;
    color:#6e7a7f;
}

div.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.list-btn{
    width: 70px;
    display: block!important;
    margin: 12px 6px
}
select{
    min-width: 500px;
}




