<!-- home.html -->
<div ng-controller="mainController" class="jumbotron text-center">
    <h1>Home Page</h1>

    <button ng-click="start()" class="next-question">Suivant</button>
    <div class="quiz-area" ng-show="inProgress">
        <div ng-show="!fini">
            <div class="alert alert-info"><h2 id="question">{{question}}</h2></div>
            <ul id="options">
                <li ng-repeat="option in options">
                    <label>
                        <input type="radio" name="answer" value="{{option}}">
                        {{option}}
                    </label>
                </li>
            </ul>

            <button ng-click="checkAnswer()" ng-show="answerMode">Valider</button><br>

            <div ng-show="!answerMode">
                <button ng-click="nextQuestion()" class="next-question">Suivant</button><br><br>
                <div class="alert alert-success" ng-show="correctAns">Bonne réponse!</div>
                <div class="alert alert-danger" ng-show="!correctAns">Mauvaise réponse.</div>
            </div>
        </div>

        <div ng-show="fini">
            <h2>QCM terminé</h2>
            <button ng-click="reset()">Rejouer</button>
        </div>

	<span class="label label-success" id="score">
		Score: {{score}}
	</span>&nbsp
    <span class="label label-danger" id="manque">
		Manqué: {{manque}}
	</span>&nbsp
    <span class="label label-primary" id="total">
		Total: {{total}}
	</span>
    </div>

    <!-- PAR DEFAUT -->
    <div class="intro" ng-show="!inProgress">
        <p> App Code de la route en Angular</p>
        <button id="startQuiz" ng-click="start()"><a href="#qcm">Commencer</a></button>

    </div>


    <p>{{ message }}</p>
</div>
