<!-- rest.html -->
<div class="jumbotron text-center">
    <h1>Rest Page</h1>

    <p>{{ message }}</p>
</div>

<div>
    <form class="img-rounded" id="choixMultiples">
        <div class="form-group">


            <select ng-options="item.question for item in questionComplete" ng-model="questionComplete" multiple="multiple" size="7"></select>
            <select ng-options="item.libelle for item in response.questions" ng-model="questionComplete" multiple="multiple" size="7"></select>



        </div>

    </form>
</div>